Calculate each user's average session time. A session is defined as the time difference between a page_load and page_exit. For simplicity, assume a user has only 1 session per day and if there are multiple of the same events on that day, consider only the latest page_load and earliest page_exit. Output the user_id and their average session time.

In [ ]:
with min_max as (select user_id,date(timestamp),
max(case 
    when action = 'page_load' then timestamp
    end) as pg_load,
min(case 
    when action = 'page_exit' then timestamp
    end)  as pg_exit
from facebook_web_log group by 1,2)

select user_id,avg(pg_exit-pg_load) as avg_session_time
from min_max
group by 1 having avg(pg_exit-pg_load) is not null ;

Find the titles of workers that earn the highest salary. Output the highest-paid title or multiple titles that share the highest salary.

In [ ]:
SELECT
    worker_title AS best_paid_title 
FROM worker
JOIN title 
ON worker_id = worker_ref_id
WHERE salary = (SELECT MAX(salary) FROM worker)